.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > * + * {
  margin-top: 10px;
}

@keyframes loader {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}

.loader {
  animation: loader 1s ease-in-out 2s infinite alternate;
}

.grid {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.list {
  max-width: 300px;
  max-height: 650px;
  overflow: auto;
}
.listItem {
  display: flex;
  justify-content: space-between;
}
